# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Makefile*
*.pro

.makeconfig
.tmakeconfig

src/config.cpp
src/version.cpp
src/libdoxygen.t
src/libdoxycfg.t
packages/rpm/doxygen.spec
VERSION
